
/*******
 * CSD *
 *******/
.titlebar {
    border-radius: 7px 7px 0px 0px;
}

.tiled .titlebar {
    border-radius: 0;
}

.maximized .titlebar {
    border-radius: 0;
}

/* this is the default titlebar that is added by GTK
 * when client-side decorations are in use and the application
 * did not set a custom titlebar.
 */
.titlebar.default-decoration {
    border: none;
    box-shadow: none;
}

.titlebar .titlebutton {
    background: none;
    padding: 5px 5px 6px 5px;
    border-radius: 3px;
}

/* shadows are handled in oxygenqtsettings */
